html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif; /* 'Montserrat' */
  font-size: 18px;
  line-height: 1.6;
  background-color: hsl(25, 1%, 90%);
  color: hsl(0, 0%, 26%);
}

main.main {
  min-height: 320px;
}

@media screen and (min-width: 1024px) {
  main.main {
    min-height: calc(100vh - 293px);
  }
}

/* mana webfont fix */
.ms:before,
.ms:after {
  vertical-align: initial;
}

button:disabled {
  opacity: 0.5;
}

a {
  color: #240b36;
  text-decoration: none;
}
